.card{
    transition: all .5s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    z-index: 10;
}


/*card 1*/
.card1-header{
    background-color: #16a287;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1-circle{
    background-color: white;
    color: #16a287;
    padding: 35px;
    border-radius: 50%;
    font-size: 35px;
    font-weight: bold;
    width: 140px;
    box-shadow: 0px 0px 25px 5px rgba(71, 250, 214, 0.8);
}

h5.card1-title{
    color: #16a287;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.card1-btn{
    background-color: #16a287;
    border: 1px solid #16a287;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    width: 100%;
}

.card1-btn:hover{
    background-color: #fff;
    color: #16a287;
    border: 1px solid #16a287;

}

/*card 2*/
.card2-header{
    background-color: #c77b30;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2-circle{
    background-color: white;
    color: #c77b30;
    padding: 35px;
    border-radius: 50%;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0px 0px 25px 5px rgba(250, 199, 147, 0.8);
}

h5.card2-title{
    color: #c77b30;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.card2-btn{
    background-color: #c77b30;
    border: 1px solid #c77b30;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    width: 100%;
}

.card2-btn:hover{
    background-color: #fff;
    color: #c77b30;
    border: 1px solid #c77b30;

}


/*card 3*/
.card3-header{
    background-color: #bababa;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3-circle{
    background-color: white;
    color: #bababa;
    padding: 35px;
    border-radius: 50%;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.8);
}

h5.card3-title{
    color: #bababa;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.card3-btn{
    background-color: #bababa;
    border: 1px solid #bababa;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    width: 100%;
}

.card3-btn:hover{
    background-color: #fff;
    color: #bababa;
    border: 1px solid #bababa;

}

/*card 4*/
.card4-header{
    background-color: #f7d000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card4-circle{
    background-color: white;
    color: #f7d000;
    padding: 35px;
    border-radius: 50%;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.8);
}

h5.card4-title{
    color: #f7d000;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.card4-btn{
    background-color: #f7d000;
    border: 1px solid #f7d000;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    width: 100%;
}

.card4-btn:hover{
    background-color: #fff;
    color: #f7d000;
    border: 1px solid #f7d000;

}




a.reg,a.log{
    color: blue !important;
}
